In [2]:
# ――――――――――――――――――――――――――――――――――――――――――――――
# ANALYSIS OF TOR NETWORK TRAFFIC 2023-07-21
# ――――――――――――――――――――――――――――――――――――――――――――――
# Dataset Source: https://www.unb.ca/cic/datasets/tor.html
import pandas as pd

import matplotlib.pyplot as plt

pd.options.display.float_format = "{:.2f}".format
plt.style.use("ggplot")

In [3]:
traffic_data = pd.read_csv(
    "../data/processed/tor-traffic-proc.csv"
)
traffic_data.head()

,Source IP,Source Port,Destination IP,Destination Port,Protocol,Flow Duration,Flow Bytes/s,Flow Packets/s,Flow IAT Mean,Flow IAT Std,...,Bwd IAT Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,label
0,100215,53913,2165820846,80,1,435,0.00,4597.70,435.00,0.00,...,0,0,0,0,0,0,0,0,0,0
1,100215,53913,2165820846,80,1,259,0.00,7722.01,259.00,0.00,...,0,0,0,0,0,0,0,0,0,0
2,100215,53913,2165820846,80,1,891,0.00,2244.67,891.00,0.00,...,0,0,0,0,0,0,0,0,0,0
3,100215,53913,2165820846,80,1,1074,0.00,1862.20,1074.00,0.00,...,0,0,0,0,0,0,0,0,0,0
4,100215,53913,2165820846,80,1,315,0.00,6349.21,315.00,0.00,...,0,0,0,0,0,0,0,0,0,0

In [4]:
traffic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67828 entries, 0 to 67827
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Source IP         67828 non-null  int64
 1   Source Port       67828 non-null  int64
 2   Destination IP    67828 non-null  int64
 3   Destination Port  67828 non-null  int64
 4   Protocol          67828 non-null  int64
 5   Flow Duration     67828 non-null  int64
 6   Flow Bytes/s      67828 non-null  float64
 7   Flow Packets/s    67828 non-null  float64
 8   Flow IAT Mean     67828 non-null  float64
 9   Flow IAT Std      67828 non-null  float64
 10  Flow IAT Max      67828 non-null  int64
 11  Flow IAT Min      67828 non-null  int64
 12  Fwd IAT Mean      67828 non-null  float64
 13  Fwd IAT Std       67828 non-null  float64
 14  Fwd IAT Max       67828 non-null  int64
 15  Fwd IAT Min       67828 non-null  int64
 16  Bwd IAT Mean      67828 non-null  float64
 17  Bwd IAT Std       67828 non-null  float64
 18  Bwd IAT Max       67828 non-null  int64
 19  Bwd IAT Min       67828 non-null  int64
 20  Active Mean       67828 non-null  int64
 21  Active Std        67828 non-null  int64
 22  Active Max        67828 non-null  int64
 23  Active Min        67828 non-null  int64
 24  Idle Mean         67828 non-null  int64
 25  Idle Std          67828 non-null  int64
 26  Idle Max          67828 non-null  int64
 27  Idle Min          67828 non-null  int64
 28  label             67828 non-null  int64
dtypes: float64(8), int64(21)
memory usage: 15.0 MB

In [4]:
traffic_data[traffic_data.columns.difference(["Source IP", "Source Port", "Destination IP", "Destination Port", "Protocol", "label"], sort=False)].describe()

,Flow Duration,Flow Bytes/s,Flow Packets/s,Flow IAT Mean,Flow IAT Std,Flow IAT Max,Flow IAT Min,Fwd IAT Mean,Fwd IAT Std,Fwd IAT Max,...,Bwd IAT Max,Bwd IAT Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
count,67828.00,67828.00,67828.00,67828.00,67828.00,67828.00,67828.00,67828.00,67828.00,67828.00,...,67828.00,67828.00,67828.00,67828.00,67828.00,67828.00,67828.00,67828.00,67828.00,67828.00
mean,2992148.97,253525.53,3304.67,315620.57,220985.77,898465.16,192460.19,350086.06,230174.96,869726.27,...,476063.70,51590.32,38879.99,0.00,38879.99,38879.99,308532.66,0.00,308532.66,308532.66
std,4063087.13,5624429.23,49559.65,698831.53,640975.61,1738532.73,578054.01,839156.95,679874.25,1752007.10,...,1409703.68,487373.93,315477.14,0.00,315477.14,315477.14,1454014.40,0.00,1454014.40,1454014.40
min,1.00,0.00,0.20,0.50,0.00,1.00,-2255.00,0.00,0.00,0.00,...,0.00,-327.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,44413.75,104.66,4.86,9951.65,0.00,28991.25,26.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,410859.00,1331.27,16.32,83450.00,0.00,178766.00,1373.00,19968.37,0.00,98652.50,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,7328698.00,21686.78,100.70,410609.00,57935.78,464202.50,207536.50,411238.00,30368.32,439586.75,...,82805.25,17.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
max,10000000.00,600000000.00,3000000.00,9987113.00,7045491.05,9998126.00,9987113.00,9997140.00,7065085.69,9997140.00,...,9996903.00,9996903.00,4999893.00,0.00,4999893.00,4999893.00,9998126.00,0.00,9998126.00,9998126.00

In [5]:
traffic_data["label"].value_counts(normalize=True) * 100

label
0   88.14
1   11.86
Name: proportion, dtype: float64

## Protocol and Ports 
- Tor uses TCP as its transport protocol  
- TLS port for Tor is 443, but commonly uses ports 9001 and 9030.
- Reference: [https://wiki.wireshark.org/Tor.md](Wireshark)
---
- May also use TCP or UDP on ports 9001,
9030, 9040, 9050, 9051, 9150, TCP: 443* and 8443
- Reference [CISA](https://www.cisa.gov/sites/default/files/publications/AA20-183A_Defending_Against_Malicious_Cyber_Activity_Originating_from_Tor_S508C.pdf)


TCP is more reliable, but tends to be slower than UDP.

In [7]:
traffic_data.groupby("label")["Protocol"].value_counts(normalize=True)*100

label  Protocol
0      0           63.61
       1           36.39
1      1          100.00
Name: proportion, dtype: float64

In [44]:
source_ports = [9001, 9030, 9040, 9050, 9051, 443, 8843]
pd.DataFrame(traffic_data.groupby("label")[["Source Port", "Destination Port"]].value_counts(normalize=True)).query("`Source Port` in @source_ports and label == 1").rename(columns={"proportion": "Percentage"}) * 100

                                    Percentage
label Source Port Destination Port
1     443         49580                   9.55
                  37652                   7.96
                  54130                   5.21
                  55139                   4.87
                  41994                   4.30
                  45788                   0.66
                  37132                   0.10
                  40146                   0.10
                  49924                   0.06
      9001        32788                   0.05
      443         59708                   0.04
                  54453                   0.01
                  50622                   0.01
                  48847                   0.01
                  42857                   0.01
      9001        48917                   0.01
                  55339                   0.01
      443         58167                   0.01

In [45]:
flow_desc = traffic_data.groupby("label")[["Flow Duration", "Flow Bytes/s", "Flow Packets/s"]].describe().T
flow_desc.style.background_gradient(axis=1)

## Flow Duration
- The flow duration describes the length of the connection in seconds. 
- Looking at the average connection time in hours, TOR looks to be much longer compared to nonTOR traffic.

In [53]:
flow_desc.loc[("Flow Duration"), [0, 1]].apply(lambda x: x/3600).rename(columns={0: "nonTOR", 1: "TOR"})

label  nonTOR     TOR
count   16.61    2.23
mean   628.58 2336.71
std   1000.91  850.69
min      0.00    0.01
25%     10.67 2474.03
50%     82.61 2768.17
75%    833.89 2774.81
max   2777.78 2777.78